
.main{
    background-color: rgb(253, 249, 243);
    width: 95%;
    margin-top: 600px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: auto;
}
.main_menu{
    height: 90px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(211, 248, 166);
}
.menu_button{
    background-color: rgb(211, 248, 166);
    border-style: solid;
    border-width: 0px;
    height: 60px;
    width: 19%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    transition: 0.3s all;
}
.menu_button:hover{
    cursor: pointer;
    border-bottom-width: 10px;
    border-color: aliceblue;
}
.contact_us{
    width: 40px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(158, 158, 158);
}
.logo{
    height: 200px
}
.social_net{
    margin-top: 45px;
    border-radius:100%;
    width: 60px;
    margin-left: 10px;
}
.socials{
    float: right;
    width: 40%;
    float: right;
    margin-right: 60px;
}
.upper_contacts{
    margin: auto;
    background-color: rgb(233, 252, 209);
    width: 100%;
    height: 200px;
}
.post_name{
    text-align: center;
    font-size: 50px;
    color: rgb(87, 87, 87);
}
.post_img{
    border-radius: 5px;
    margin: 20px;
    width: 400px;
}
.post_discription{
    font-size: 25px;
    color: rgb(80, 80, 80);
}
.read_more{
    margin: auto;
    border-style: solid;
    border-radius: 13px;
    background-color: rgb(98, 199, 98);
    width: 80%;
    font-size: 20px;
    height: 60px;
    border-width: 0px;
}
.post{
    
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 70%;
    background-color: white;
    border-radius: 13px;
    margin-top: 100px;
}
.footer{
    border-radius:13px;
    width: 93%;
    margin-top:80px;
    background-color: #D3F8A6;
    padding: 40px;
}
.contact_info{
    background-color: #D3F8A6;
    width: 50%;
    float: left;
    height: 300px;
}
#email{
    color: gray;
    text-decoration: none;
}
.auth_reg{
    border-radius:13px;
    margin:auto;
    margin-top:40px;
    margin-bottom: 40px;
    width: 40%;
    background-color: rgb(232, 252, 207);
    padding: 30px;
}
.input{
    width:70%;
    border-radius:13px;
    border-width: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 60px;
}
.enter{
    border-radius: 13px;
    background-color: rgb(98, 199, 98);
    width: 70%;
    font-size: 20px;
    height: 60px;
    border-width: 0px;
}
.error{
    height:60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(238, 138, 138);
    border-radius: 13px;
    border-style: solid;
}
.inputa{
    width:70%;
    border-radius:13px;
    background-color: rgb(247, 247, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 60px;
}
.article_text{
    border-radius: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.select{
    border-style: solid;
    border-width: 1px;
    height: 60px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: white;
    text-align: center;
    width: 30%;
}
.other_href{
    font-size: 15px;
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}